body {
	font-family: $md;
	overflow-x: hidden;
	// Font styles
	h1,h2,h3 {
		font-family: $bk;
	}
	h4 {
		color: $red;
		font-family: $sil;
	}
	img {
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
	
	// button link behaviors
	button,
	a{
		border: none;
		transition: all 0.32s;
	}

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.bottom-link {
			position: absolute;
			background-color: $red;
			right: rem(40px);
			bottom: rem(17px);
			padding: rem(10px) rem(12px);
			border-radius: rem(5px);
			display: inline-block;
			color: $white;
			&__mail{
				&::before {
					content:"";
					display: inline-block;
					vertical-align: middle;
					width: rem(16px);
					height: rem(12px);
					margin: 0 rem(6px);
					@include iconBG('../img/icon-mail-white.svg');
				}
			}
		}
	}

	// header structure
	header {
		h3 {
			text-transform: uppercase;
			font-family: $md;
			@include font(30px);
			line-height: 1;
			margin-bottom: 0;
		}
		h4 {
			margin-top: rem(6px);
			font-weight: normal;
			@include font(35px);
		}
	}
	
	// Handler displaying
	.visible {
		&-mobile {
			display: block;
			@include mq('sm') {
				display: none;
			}
		}
		&-desktop {
			display: none;
			@include mq('sm') {
				display: block;
			}
		}
	}
}