// Colors
$white: #ffffff;
$black: #000000;
$bone: #f0eff1;
$gray: #cccccc;
$gray-txt: #5e5e5e;
$red: #c02227;
$red-dk: #a41f27;
$yellow: #f3c61e;
$green: #85bb2d;
$blue: #224577;
$blue-dk: #253364;
// Fonts
$sil: 'silence_rockenregular';
$bk: 'Gotham Book';
$md: 'Gotham Medium';